extends ./layouts/default.pug

block title
    title Koa

block content
    .container
        .row
            .col-md-8
                h1 Hi #{you}
                p This is #{me}
            .col-md-4
                p pug页面中间件